body {
	text-align: center;
	background-color: black;
	color: white;
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-family: "Bebas Neue", cursive;
}

h2 {
	font-family: "Dancing Script", cursive;
}

html,
body {
	height: 100%;
}

.row {
	margin-top: 1.5rem;
}
/* Order Button */
.order-button {
	position: fixed;
	bottom: 10px;
	right: 15px;
	background: #bd2f2f;
	color: white;
	z-index: 1;
	font-size: 1.5rem;
}

.order-button:hover {
	background: #b80f0f;
	color: white;
}

/* Header Section */

.title {
	font-size: 6rem;
}

.cover {
	min-height: 100%;
	height: 100%;
}

.header-img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered2 {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Menu Section */
.image-text {
	background-color: #090814;
	height: 30%;
	width: 30%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: #f1b957;
}

.custom-button {
	border-color: #f1b957;
	color: white;
}

.custom-button:hover {
	background: #f1b957;
	color: white;
}

/* About Section */
#about {
	color: #f1b957;
}

.about-text {
	color: white;
	font-weight: bold;
}

/* Locations Section */
#locations {
	margin-top: 1.5rem;
	background-color: #090814;
}

.location-header {
	color: #f1b957;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f1b957' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f1b957' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
